{% include "main/header.html" %}
{% if news_results %}
    <!-- Page heading start -->
    <div
      class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3 pt_120 pb_120"
    >
      <div class="flex justify-center">
        <div>
          <div class="text-center">
            <h1
              class="lg:text-6xl sm:text-4xl text-3xl text-white lg:mb-10 sm:mb-9 mb-6 font-bold"
            >
              Поиск по тексту {{ query }}
            </h1>
            <ul
              class="flex items-center justify-center sm:flex-nowrap flex-wrap gap-3"
            >
              <li class="text-2xl font-caveat">
                <a href="/" class="text-white">Главная</a>
              </li>
              <li class="text-white text-2xl">/</li>
              <li class="text-clr_base font-caveat text-2xl">Поиск {{ query }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Page heading end -->
{% else %}
    <!-- Page heading start -->
    <div
      class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3 pt_120 pb_120"
    >
      <div class="flex justify-center">
        <div>
          <div class="text-center">
            <h1
              class="lg:text-6xl sm:text-4xl text-3xl text-white lg:mb-10 sm:mb-9 mb-6 font-bold"
            >
              Нет результатов {{ query }}
            </h1>
            <ul
              class="flex items-center justify-center sm:flex-nowrap flex-wrap gap-3"
            >
              <li class="text-2xl font-caveat">
                <a href="/" class="text-white">Главная</a>
              </li>
              <li class="text-white text-2xl">/</li>
              <li class="text-clr_base font-caveat text-2xl">Поиск {{ query }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Page heading end -->
{% endif %}


    <section class=" pb_120">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
          <div class="grid grid-cols-2 gap-4">
            {% if news_results %}
              {% for el in news_results %}
                <div class="xl:mb-[50px] mb-[30px] group" data-aos="fade-up" data-aos-duration="1000">
                  {% for el in news %}<a href="{% url 'news-details' el.pk %}" class="overflow-hidden block">{% endfor %}
                    <img src="{{ el.text_img.url }}" alt="img" class="w-full overflow-hidden duration-500 group-hover:scale-105"/>
                  </a>
                <div class="content w-[90%] bg-clr_body rounded-tr-lg py-[30px] pr-[14px] pl-5 -translate-y-[70px] -mb-[70px]">
                  <span class="bdate flex items-center gap-1 text-clr_pra text-base mb-[30px]">
                    <span class="uppercase text-white">{{ el.date}}</span>
                  </span>
                  <h3 class="border-b border-b-clr_cusborder pb-[30px] mb-[30px] text-4xl font-semibold capitalize">
                    <a href="{% url 'news-details' el.pk %}" class="text-white duration-500 group-hover:text-clr_base">{{ el.title}}</a>
                  </h3>
                  <p class="text-clr_pra text-base mb-[30px]">
                    {{ el.excerpt}} ...
                  </p>

                  <a href="{% url 'news-details' el.pk %}" class="max-w-[200px] flex justify-center items-center gap-2 font-medium px-[30px] pt-5 pb-[21px] text-lg leading-[120%] capitalize relative bg-clr_base overflow-hidden rounded-[5px] duration-500 text-clr_subtitle before:absolute before:content-[''] before:bottom-full before:bg-[#aad302] before:left-0 before:w-full before:h-full before:duration-500 before:bg-opacity-80 hover:before:bottom-0">
                    <span class="z-10 relative duration-500">Подробнее</span>
                    <span>
                      <i class="bi-arrow-right z-10 relative duration-500"> </i>
                    </span>
                  </a>

                </div>
              </div>
               {% endfor %}
            {% else %}
              <p>Записей не найдено</p>
            {% endif %}

            {# Дальше идет пагинация #}
            <div class="  bg-common_bg rounded-lg xl:p-[30px] py-5 px-4">
              <ul class="flex gap-[14px] items-center">
                {% if news.paginator.num_pages <= 0 %}
                  {% endif %}
                  {% if news.paginator.num_pages > 1 %}
                    <li>
                      <a href="?page=2"class="w-[60px] h-[60px] flex items-center justify-center rounded-lg bg-clr_base text-clr_title duration-500 text-lg hover:bg-white hover:text-clr_title">2</a>
                    </li>
                  {% endif %}
                  {% if news.paginator.num_pages > 2 %}
                    <li>
                      <a href="?page=3"class="w-[60px] h-[60px] flex items-center justify-center rounded-lg bg-clr_base text-clr_title duration-500 text-lg hover:bg-white hover:text-clr_title">3</a>
                    </li>
                  {% endif %}
                  {% if news.paginator.num_pages > 3 %}
                    <li>
                      <a href="?page={{ news.paginator.num_pages }}" class="w-[60px] h-[60px] flex items-center justify-center rounded-lg bg-clr_base text-clr_title duration-500 text-lg hover:bg-white hover:text-clr_title">{{ news.paginator.num_pages }}</a>
                    </li>
                  {% endif %}
                  {% if news.has_next %}
                    <li>
                      <a href="?page={{ news.next_page_number }}" class="w-[60px] h-[60px] flex items-center justify-center rounded-lg bg-clr_base text-clr_title duration-500 text-lg hover:bg-white hover:text-clr_title"><i class="bi-chevron-right"></i></a>
                    </li>
                  {% endif %}
                </ul>
            </div>
          </div>
        </div>
    </section>


{% include "main/footer.html" %}