{% load static %}
{% include "main/header.html" %}


<!-- ------------------ Banner start -->
      <section id="home">
        <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
          <div class="grid md:grid-cols-[70%_auto] gap-5">
            <div>
              <div class="banner__content xl:pt-[140px] xl:pb-[180px] lg:pt-[120px] lg:pb-[150px] md:pt-[90px] md:pb-[100px] sm:pt-[80px] sm:pb-[85px] py-[60px] xl:pl-10 pl-0">
                <a href="{{ hiro_block.mini_text_link }}" class="bn__currently md:text-[24px] text-base leading-[140%] md:mb-[50px] mb-6 border-b border-b-clr_white text-clr_white inline-block pb-4 hover:text-clr_base hover:border-b-clr_base">
                  <span class="block"> {{ hiro_block.mini_text }} </span>
                  <span class="flex gap-4 items-center">{{ hiro_block.mini_text_str }}<i class=""><i class="bi bi-arrow-up-right"></i></i></span>
                </a>
                <h1 class="lg:text-[100px] md:text-[60px] sm:text-[45px] text-[34px] font-semibold sm:mb-[50px] mb-[30px] leading-[120%]">
                  <span class="hone text-clr_white"> {{ hiro_block.h1_site }}</span>
                  <span class="block designers" data-text="{{ hiro_block.color_text }}">
                    {{ hiro_block.color_text }}
                  </span>
                </h1>
                <div class="flex items-center gap-6">
                  <img src="{% static 'main/assets/img/banner/bn-arrow.png' %}" class="vid__arrow animate-cir5" alt="img"/>
                  <a href="{{ hiro_block.link_yutube }}" class="video__80 video-btn cursor-pointer relative xl:w-20 xl:h-20 sm:w-[60px] sm:h-[60px] w-[50px] h-[50px] flex justify-center items-center rounded-full border border-clr_white before:absolute before:border-2 before:border-clr_white before:w-full before:h-full before:content:[''] before:rounded-full before:animate-scales">
                    <i class="text-clr_white sm:text-[42px] text-[30px]"><i class="bi bi-play-fill"></i></i>
                  </a>
                  <span class="proces sm:text-xl text-base text-clr_white w-[67px]">Процесс работы</span>
                </div>
              </div>
            </div>
            <div>
              <div data-aos="fade-up-right" data-aos-duration="300" class="banner__thumb absolute xxl:left-[calc(50%--120px)] left-[calc(50%--80px)] bottom-0">
                <img src="{{ hiro_block.image.url }}" alt="man-img" class="w-full"/>
              </div>
            </div>
          </div>
        </div>
        <div class="banner__leftinfo hidden absolute -left-[40px] top-1/2 -translate-y-1/2 xl:grid gap-[220px]">
          <div class="left__infomobile rotate-90 flex items-center justify-center gap-[16px]">
            <a href="">
              <img src="{{ hiro_block.image.url }}" alt="img" class="-rotate-90 w-4"/>
            </a>
            <a href="tel:{{ contact_info.phone }}" class="text-clr_white">{{ contact_info.formatted_phone }}</a>
          </div>
          <div class="right__infoscroll flex items-center justify-center gap-[50px] rotate-90 mb-[0px]">
            <a href="" class="scroll text-clr_pra uppercase text-[15px]">скролл вниз</a>
            <a href="" class="scroll__bar -rotate-90">
              <img src="{% static 'main/assets/img/banner/scroll-down.png' %}" alt="img" class="w-5"/>
            </a>
          </div>
        </div>
        <div class="banner__rightinfo hidden absolute right-0 top-[55%] -translate-y-1/2 xl:grid gap-[150px]">
          <div class="right__infoscroll flex items-center justify-center gap-[50px] rotate-90">
            <a href="" class="scroll text-clr_pra uppercase text-[15px]">
              Подписаться
            </a>
            <a href="" class="scroll__bar -rotate-90">
              <img src="{% static 'main/assets/img/banner/scroll-down.png' %}" alt="img" class="w-5"/>
            </a>
          </div>
          <div class="banner__xlsocial">
            <ul class="banner__soci grid justify-center lg:gap-[14px] gap-[10px]">
              {% for social in social_links %}
              <li>
                <a href="{{ social.link }}" target="_blank" class="lg:w-[46px] lg:h-[46px] h-[38px] w-[38xp] rounded-full bg-[rgb(18_18_18)] flex justify-center items-center">
                  <i class="bi {{ social.ikons }} text-white"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      <!-- ------------------ Banner end -->
    </div>
<!-- ---------- Marquee 1 -->
    <div class="relative marquee-wrapper text-slider bg-clr_base h-[90px] overflow-hidden">
      <div class="slide-track">
        {% for logo in gallery_logo %}
        <div class="slide">
          <img src="{{ logo.image.url }}" alt="" />
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- ---------- Marquee 1 -->
    <!-- ------------- About -->
    <section class="about__section pt_120 pb_120" id="about">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <!-- --------------- Heading -->
        <div class="personal__head text-center mx-auto xl:mb-[60px] md:mb-[50px] mb-[30px]">
          <img src="{% static 'main/assets/img/about/section-star.png' %}" class="mb-[30px] animate-spin mx-auto" alt="star" data-aos="fade-up" data-aos-duration="1000"/>
          <p class="descrp lg:text-[42px] md:text-[28px] sm:text-xl text-base font-medium text-clr_white lg:leading-[66px]" data-aos="fade-up" data-aos-duration="1500">
            I'm David Matias, I'm a Brand & Webflow Designer, Currently residing
            in the lush Victoria Street London, Matias operates globally and is
            ready to take on any design challenge.
          </p>
        </div>
        <!-- --------------- Heading -->
        <div class="singletab">
          <!-- ----------- Nav -->
          <ul class="tablinks flex items-center justify-center flex-wrap gap-5 mb-[100px]">
            <li>
              <button data="about" class="tablink bg-clr_base text-clr_title rounded-[10px] lg:text-lg text-sm uppercase font-medium border-none lg:py-4 lg:px-[30px] py-[10px] px-5 text-center">
                About
              </button>
            </li>
            <li>
              <button data="experience" class="tablink bg-[#1D1D1D] text-clr_white rounded-[10px] lg:text-lg text-sm uppercase font-medium border-none lg:py-4 lg:px-[30px] py-[10px] px-5 text-center">
                Experience
              </button>
            </li>
            <li>
              <button data="education" class="tablink bg-[#1D1D1D] text-clr_white rounded-[10px] lg:text-lg text-sm uppercase font-medium border-none lg:py-4 lg:px-[30px] py-[10px] px-5 text-center">
                Education
              </button>
            </li>
            <li>
              <button data="skills" class="tablink bg-[#1D1D1D] text-clr_white rounded-[10px] lg:text-lg text-sm uppercase font-medium border-none lg:py-4 lg:px-[30px] py-[10px] px-5 text-center">
                Skills
              </button>
            </li>
          </ul>
          <!-- ----------- Nav -->
          <div class="tabcontents relative">
            <!-- ---------- Personal Info -->
            <div data="about" class="tabitem w-full duration-700 z-10 opacity-100 translate-y-0">
              <!-- translate-y-20 -z-10 opacity-0 -->
              <div class="about__v1wrap bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden sm:p-[60px] py-[30px] px-[10px]">
                <div class="grid lg:grid-cols-[41%_auto] gap-6 lg:items-start align-items-center">
                  <div>
                    <div class="about__onethumb w-full" data-aos="zoom-in" data-aos-duration="500">
                      <img src="{% static 'main/assets/img/about/personal-infothumb.png' %}" alt="img" class="w-full"/>
                    </div>
                  </div>
                  <div>
                    <div class="about__onecontent lg:pl-10 pl-0">
                      <h2 class="text-[42px] font-semibold text-clr_white mb-5" data-aos="fade-up" data-aos-duration="500">
                        Personal Info
                      </h2>
                      <p class="text-lg text-clr_pra mb-0" data-aos="fade-up" data-aos-duration="500">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit consectetur, aliquam quaerats voluptatem. Ut enim ad
                        minima veniam, exercitationem laboriosam, nisi ut
                        aliquid ex ea autem velit esse quam nihil
                      </p>
                      <div class="mt-10">
                        <div class="">
                          <div class="grid xl:grid-cols-2 lg:grid-cols-1 md:grid-cols-2 grid-cols-1 justify-between gap-6" data-aos="zoom-in">
                            <div class="abox rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base">
                              <div class="">
                                <span class="ptext text-clr_pra fz-18 md:text-lg text-base mb-5 block">
                                  Email
                                </span>
                                <a href="" class="text-xl text-clr_white">dev.mostafizar.com</a>
                              </div>
                            </div>
                            <div class="abox rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base">
                              <div class="">
                                <span class="ptext text-clr_pra fz-18 md:text-lg text-base mb-5 block">
                                  Phone
                                </span>
                                <a href="" class="text-xl text-clr_white">01575699193</a>
                              </div>
                            </div>
                            <div class="abox rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base">
                              <div class="">
                                <span class="ptext text-clr_pra fz-18 md:text-lg text-base mb-5 block">
                                  Address
                                </span>
                                <a href="" class="text-xl text-clr_white">Dahagram, Lalmonirhat</a>
                              </div>
                            </div>
                            <div class="abox rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base">
                              <div class="">
                                <span class="ptext text-clr_pra fz-18 md:text-lg text-base mb-5 block">
                                  Follow
                                </span>
                                <ul class="flex items-center xl:gap-4 gap-2">
                                  <li>
                                    <a href="" class="text-clr_white text-xl">
                                      <i class="bi-facebook"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="" class="text-clr_white text-xl">
                                      <i class="bi-twitter"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="" class="text-clr_white text-xl">
                                      <i class="bi-instagram"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="" class="text-clr_white text-xl">
                                      <i class="bi-youtube"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ---------- Personal Info -->

            <!-- ---------- Experience Info -->
            <div data="experience" class="tabitem w-full duration-700 top-0 absolute translate-y-20 -z-10 opacity-0">
              <div class="about__v1wrap bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden sm:p-[60px] py-[30px] px-[10px]">
                <div class="grid lg:grid-cols-[41%_auto] gap-6 lg:items-start items-center">
                  <div>
                    <div class="about__onethumb">
                      <img src="{% static 'main/assets/img/about/personal-infothumb.png' %}" alt="img"/>
                    </div>
                  </div>
                  <div>
                    <div class="about__onecontent lg:pl-10 pl-0">
                      <h2 class="text-[42px] font-semibold text-clr_white mb-5">
                        Experience
                      </h2>
                      <p class="text-lg text-clr_pra mb-0">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit consectetur, aliquam quaerats voluptatem. Ut enim ad
                        minima veniam, exercitationem laboriosam, nisi ut
                        aliquid ex ea autem velit esse quam nihil
                      </p>
                      <div class="exprience__box lg:mt-[30px] mt-5">
                        <div class="exri__item flex items-center justify-between border-t border-t-clr_cusborder py-6 duration-500 last:border-y last:border-b-clr_cusborder hover:border-clr_hover">
                          <span class="md:text-lg text-base font-medium text-clr_base">
                            In 2011
                          </span>
                          <div class="expri__cont">
                            <h4 class="mb-[15px] text-white font-semibold md:text-2xl text-lg leading-[130px]">
                              Software Engineer
                            </h4>
                            <p class="md:text-lg text-base text-clr_pra d-block">
                              UI Head & Manager
                            </p>
                          </div>
                        </div>
                        <div class="exri__item flex items-center justify-between border-t border-t-clr_cusborder py-6 duration-500 last:border-y last:border-b-clr_cusborder hover:border-clr_hover">
                          <span class="md:text-lg text-base font-medium text-clr_base">
                            In 2016
                          </span>
                          <div class="expri__cont">
                            <h4 class="mb-[15px] text-white font-semibold md:text-2xl text-lg leading-[130px]">
                              Product Designer
                            </h4>
                            <p class="md:text-lg text-base text-clr_pra d-block">
                              Head of Department
                            </p>
                          </div>
                        </div>
                        <div class="exri__item flex items-center justify-between border-t border-t-clr_cusborder py-6 duration-500 last:border-y last:border-b-clr_cusborder hover:border-clr_hover">
                          <span class="md:text-lg text-base font-medium text-clr_base">
                            In 2023
                          </span>
                          <div class="expri__cont">
                            <h4 class="mb-[15px] text-white font-semibold md:text-2xl text-lg leading-[130px]">
                              Senior UI Designer
                            </h4>
                            <p class="md:text-lg text-base text-clr_pra d-block">
                              Fiverr.com
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ---------- Experience Info -->

            <!-- ---------- Education Info -->
            <div data="education" class="tabitem w-full duration-700 top-0 absolute translate-y-20 -z-10 opacity-0">
              <div class="about__v1wrap bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden sm:p-[60px] py-[30px] px-[10px]">
                <div class="grid lg:grid-cols-[41%_auto] gap-6 lg:items-start items-center">
                  <div>
                    <div class="about__onethumb">
                      <img src="{% static 'main/assets/img/about/personal-infothumb.png' %}" alt="img"/>
                    </div>
                  </div>
                  <div>
                    <div class="about__onecontent lg:pl-10 pl-0">
                      <h2 class="text-[42px] font-semibold text-clr_white mb-5">
                        Education
                      </h2>
                      <p class="text-lg text-clr_pra mb-0">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit consectetur, aliquam quaerats voluptatem. Ut enim ad
                        minima veniam, exercitationem laboriosam, nisi ut
                        aliquid ex ea autem velit esse quam nihil
                      </p>
                      <div class="exprience__box lg:mt-[30px] mt-5">
                        <div class="exri__item flex items-center justify-between border-t border-t-clr_cusborder py-6 duration-500 last:border-y last:border-b-clr_cusborder hover:border-clr_hover">
                          <span class="md:text-lg text-base font-medium text-clr_base">
                            2011 - 2013
                          </span>
                          <div class="expri__cont">
                            <h4 class="mb-[15px] text-white font-semibold md:text-2xl text-lg leading-[130px]">
                              Programming Course
                            </h4>
                            <p class="md:text-lg text-base text-clr_pra d-block">
                              New York University
                            </p>
                          </div>
                        </div>
                        <div class="exri__item flex items-center justify-between border-t border-t-clr_cusborder py-6 duration-500 last:border-y last:border-b-clr_cusborder hover:border-clr_hover">
                          <span class="md:text-lg text-base font-medium text-clr_base">
                            2013 - 2016
                          </span>
                          <div class="expri__cont">
                            <h4
                              class="mb-[15px] text-white font-semibold md:text-2xl text-lg leading-[130px]"
                            >
                              University Of Design
                            </h4>
                            <p
                              class="md:text-lg text-base text-clr_pra d-block"
                            >
                              Kingston, United States
                            </p>
                          </div>
                        </div>
                        <div
                          class="exri__item flex items-center justify-between border-t border-t-clr_cusborder py-6 duration-500 last:border-y last:border-b-clr_cusborder hover:border-clr_hover"
                        >
                          <span
                            class="md:text-lg text-base font-medium text-clr_base"
                          >
                            2016 - 2018
                          </span>
                          <div class="expri__cont">
                            <h4
                              class="mb-[15px] text-white font-semibold md:text-2xl text-lg leading-[130px]"
                            >
                              Web Design Course
                            </h4>
                            <p
                              class="md:text-lg text-base text-clr_pra d-block"
                            >
                              New York University
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ---------- Education Info -->

            <!-- ---------- Skill Info -->
            <div
              data="skills"
              class="tabitem w-full duration-700 top-0 absolute translate-y-20 -z-10 opacity-0"
            >
              <div
                class="about__v1wrap bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden sm:p-[60px] py-[30px] px-[10px]"
              >
                <div
                  class="grid lg:grid-cols-[41%_auto] gap-6 lg:items-start items-center"
                >
                  <div>
                    <div class="about__onethumb">
                      <img
                        src="{% static 'main/assets/img/about/personal-infothumb.png' %}"
                        alt="img"
                      />
                    </div>
                  </div>
                  <div>
                    <div class="about__onecontent">
                      <h2 class="text-[42px] font-semibold text-clr_white mb-5">
                        My Skills
                      </h2>
                      <p class="text-lg text-clr_pra mb-0">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit consectetur, aliquam quaerats voluptatem. Ut enim ad
                        minima veniam, exercitationem laboriosam, nisi ut
                        aliquid ex ea autem velit esse quam nihil
                      </p>
                      <div class="mt-10">
                        <div
                          class="grid xl:grid-cols-2 lg:grid-cols-1 md:grid-cols-2 grid-cols-1 justify-between gap-6"
                        >
                          <div
                            class="rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base"
                          >
                            <div
                              class="abox myskill__item flex items-center gap-6"
                            >
                              <div class="">
                                <img
                                  src="{% static 'main/assets/img/about/html.png' %}"
                                  alt="img"
                                />
                              </div>
                              <div class="mys">
                                <span
                                  class="ptext md:text-lg text-base lg:mb-[15px] mb-[10px] block text-clr_pra"
                                  >HTML</span
                                >
                                <h1
                                  class="font-semibold text-5xl text-clr_white"
                                >
                                  85%
                                </h1>
                              </div>
                            </div>
                          </div>
                          <div
                            class="rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base"
                          >
                            <div
                              class="abox myskill__item flex items-center gap-6"
                            >
                              <div class="">
                                <img
                                  src="{% static 'main/assets/img/about/figma.png' %}"
                                  alt="img"
                                />
                              </div>
                              <div class="mys">
                                <span
                                  class="ptext md:text-lg text-base lg:mb-[15px] mb-[10px] block text-clr_pra"
                                  >Figma</span
                                >
                                <h1
                                  class="font-semibold text-5xl text-clr_white"
                                >
                                  90%
                                </h1>
                              </div>
                            </div>
                          </div>
                          <div
                            class="rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base"
                          >
                            <div
                              class="abox myskill__item flex items-center gap-6"
                            >
                              <div class="">
                                <img
                                  src="{% static 'main/assets/img/about/word.png' %}"
                                  alt="img"
                                />
                              </div>
                              <div class="mys">
                                <span
                                  class="ptext md:text-lg text-base lg:mb-[15px] mb-[10px] block text-clr_pra"
                                  >Wordpress</span
                                >
                                <h1
                                  class="font-semibold text-5xl text-clr_white"
                                >
                                  95%
                                </h1>
                              </div>
                            </div>
                          </div>
                          <div
                            class="rounded-[10px] bg-[#1D1D1D] p-[35px] border border-[#1D1D1D] duration-500 hover:border-clr_base"
                          >
                            <div
                              class="abox myskill__item flex items-center gap-6"
                            >
                              <div class="">
                                <img
                                  src="{% static 'main/assets/img/about/boot.png' %}"
                                  alt="img"
                                />
                              </div>
                              <div class="mys">
                                <span
                                  class="ptext md:text-lg text-base lg:mb-[15px] mb-[10px] block text-clr_pra"
                                  >Bootstrap</span
                                >
                                <h1
                                  class="font-semibold text-5xl text-clr_white"
                                >
                                  97%
                                </h1>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ---------- Skill Info -->
          </div>
        </div>
      </div>
    </section>
    <!-- ---------- Marquee 2 -->
    <div class="relative marquee-wrapper text-slider bg-clr_base h-[90px] overflow-hidden">
      <div class="slide-track">
        {% for logo in gallery_logo %}
        <div class="slide">
          <img src="{{ logo.image.url }}" alt="" />
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- ---------- Marquee 2 -->

    <!-- ----------- Awards start -->
    <section
      class="awoard__section bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden xxl:py-[120px] xl:py-[100px] py-[60px]">
      <div
        class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <div class="award__wraper table-responsive" data-aos="fade-up" data-aos-duration="2000">
          <table class="table w-full">
            <tbody>
              <tr>
                <td class="bg-transparent lg:text-xl md:text-lg text-base font-medium text-white py-[30px] border-b border-b-[#2c3030]">
                  <span class="table__title md:text-[42px] sm:text-[28px] text-lg">Our Awards</span>
                </td>
                <td class="cusnoe bg-transparent lg:text-xl md:text-lg text-base font-medium text-white py-[30px] border-b border-b-[#2c3030]"></td>
                <td class="text-end bg-transparent lg:text-xl md:text-lg text-base font-medium text-white py-[30px] border-b border-b-[#2c3030]">
                  <a href="" class="table__view md:text-lg sm:text-base text-sm flex justify-end items-center text-clr_base gap-2">
                    <span class="whitespace-nowrap">View My Work</span>
                    <i class="bi-arrow-right"> </i>
                  </a>
                </td>
              </tr>
              {% for ourAwardsOne in our_Awards %}
              <tr>
                <td class="bg-transparent lg:text-xl md:text-lg sm:text-base text-sm font-medium text-white py-[30px] border-b border-b-[#2c3030]">{{ ourAwardsOne.title }}</td>
                <td class="bg-transparent lg:text-xl md:text-lg sm:text-base text-sm font-medium text-white py-[30px] border-b border-b-[#2c3030]">{{ ourAwardsOne.text }}</td>
                <td class="text-end bg-transparent lg:text-xl md:text-lg sm:text-base text-sm font-medium text-white py-[30px] border-b border-b-[#2c3030]">{{ ourAwardsOne.yar }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!-- ----------- Awards end -->

    <!-- ----------- Projects Start -->
    <section class="pt_120 pb_120" id="projects">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <!-- heading -->
        <div class="text-center max-w-[920px] mx-auto md:mb-[60px] sm:mb-[50px] mb-[45px]">
          <p class="text-2xl font-caveat text-clr_base relative flex justify-center items-center sm:gap-6 gap-[14px] mx-auto mb-[30px]" data-aos="fade-down" data-aos-duration="1000"><span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>Complete Project<span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span></p>
          <h2 class="font-medium lg:text-6xl md:text-5xl sm:text-4xl text-[29px] text-white lg:leading-[120%] md:leading-tight leading-9" data-aos="fade-up" data-aos-duration="1200">Look At My Portfolio And Give Me Your Feedback</h2>
        </div>
        <!-- heading -->

        <div class="md:columns-2 col-span-1 xxl:gap-[58px] lg:gap-12 md:gap-[30px]">
          <!-- card 1 -->
          <div class="project__item overflow-hidden group xl:mb-[60px] lg:mb-[50px] mb-[30px]" data-aos="fade-up" data-aos-duration="1000">
            <a href="{% static 'main/assets/img/project/pro1.png' %}" class="imgc overflow-hidden lg:mb-[30px] mb-[20px] block w-full cursor-pointer">
              <img src="{% static 'main/assets/img/project/pro1.png' %}" alt="img" class="w-full overflow-hidden duration-500 rounded-[10px] group-hover:scale-105"/>
            </a>
            <div class="content flex items-center justify-between gap-1">
              <a href="./protfolio.html" class="left__cont">
                <span
                  class="text-clr_base xl:mb-4 mb-2 block uppercase xl:text-lg text-base"
                >
                  PRODUCT DESIGN
                </span>
                <h3
                  class="xl:text-[30px] sm:text-2xl text-xl font-semibold text-white"
                >
                  Brand Identity & Motion Design
                </h3>
              </a>
              <a
                href="{% static 'main/assets/img/project/pro1.png' %}"
                class="imgc h-[45px] w-[45px] sm:w-[60px] sm:h-[60px] rounded-md bg-[#1D1D1D] flex justify-center items-center duration-500 group-hover:bg-clr_base cursor-pointer"
              >
                <i
                  class="bi-arrow-up-right duration-500 group-hover:text-clr_title text-lg sm:text-xl text-white"
                ></i>
              </a>
            </div>
          </div>
          <!-- card 1 -->

          <!-- card 2 -->
          <div
            class="overflow-hidden group xl:mb-[60px] lg:mb-[50px] mb-[30px]"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <a
              href="{% static 'main/assets/img/project/pro3.png' %}"
              class="imgc overflow-hidden lg:mb-[30px] mb-[20px] block w-full cursor-pointer"
            >
              <img
                src="{% static 'main/assets/img/project/pro3.png' %}"
                alt="img"
                class="w-full overflow-hidden duration-500 rounded-[10px] group-hover:scale-105"
              />
            </a>

            <div class="content flex items-center justify-between gap-1">
              <a href="./protfolio.html" class="left__cont">
                <span
                  class="text-clr_base xl:mb-4 mb-2 block uppercase xl:text-lg text-base"
                >
                  UI/UX DESIGN
                </span>
                <h3
                  class="xl:text-[30px] sm:text-2xl text-xl font-semibold text-white"
                >
                  Mobile Application Development
                </h3>
              </a>
              <a
                href="{% static 'main/assets/img/project/pro3.png' %}
                class="imgc h-[45px] w-[45px] sm:w-[60px] sm:h-[60px] rounded-md bg-[#1D1D1D] flex justify-center items-center duration-500 group-hover:bg-clr_base cursor-pointer"
              >
                <i
                  class="bi-arrow-up-right duration-500 group-hover:text-clr_title text-lg sm:text-xl text-white"
                ></i>
              </a>
            </div>
          </div>
          <!-- card 2 -->

          <!-- card 3 -->
          <div
            class="overflow-hidden group"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <a
              href="{% static 'main/assets/img/project/pro5.png' %}"
              class="imgc overflow-hidden lg:mb-[30px] mb-[20px] block w-full cursor-pointer"
            >
              <img
                src="{% static 'main/assets/img/project/pro5.png' %}"
                alt="img"
                class="w-full overflow-hidden duration-500 rounded-[10px] group-hover:scale-105"
              />
            </a>
            <div class="content flex items-center justify-between gap-1">
              <a href="./protfolio.html" class="left__cont">
                <span
                  class="text-clr_base xl:mb-4 mb-2 block uppercase xl:text-lg text-base"
                >
                  PRODUCT DESIGN
                </span>
                <h3
                  class="xl:text-[30px] sm:text-2xl text-xl font-semibold text-white"
                >
                  Design & Branding Mokeup
                </h3>
              </a>
              <a
                href="{% static 'main/assets/img/project/pro5.png' %}"
                class="imgc h-[45px] w-[45px] sm:w-[60px] sm:h-[60px] rounded-md bg-[#1D1D1D] flex justify-center items-center duration-500 group-hover:bg-clr_base cursor-pointer"
              >
                <i
                  class="bi-arrow-up-right duration-500 group-hover:text-clr_title text-lg sm:text-xl text-white"
                ></i>
              </a>
            </div>
          </div>
          <!-- card 3 -->

          <!-- card 4 -->
          <div
            class="project__item overflow-hidden group xl:mb-[60px] lg:mb-[50px] mb-[30px]"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <a
              href="{% static 'main/assets/img/project/pro2.png' %}"
              class="imgc overflow-hidden lg:mb-[30px] mb-[20px] block w-full cursor-pointer"
            >
              <img
                src="{% static 'main/assets/img/project/pro2.png' %}"
                alt="img"
                class="w-full overflow-hidden duration-500 rounded-[10px] group-hover:scale-105"
              />
            </a>
            <div class="content flex items-center justify-between gap-1">
              <a href="./protfolio.html" class="left__cont">
                <span
                  class="text-clr_base xl:mb-4 mb-2 block uppercase xl:text-lg text-base"
                >
                  UI/UX DESIGN
                </span>
                <h3
                  class="xl:text-[30px] sm:text-2xl text-xl font-semibold text-white"
                >
                  Mobile Application Development
                </h3>
              </a>
              <a
                href="{% static 'main/assets/img/project/pro2.png' %}"
                class="imgc h-[45px] w-[45px] sm:w-[60px] sm:h-[60px] rounded-md bg-[#1D1D1D] flex justify-center items-center duration-500 group-hover:bg-clr_base cursor-pointer"
              >
                <i
                  class="bi-arrow-up-right duration-500 group-hover:text-clr_title text-lg sm:text-xl text-white"
                ></i>
              </a>
            </div>
          </div>
          <!-- card 4 -->

          <!-- card 5 -->
          <div
            class="project__item overflow-hidden group xl:mb-[60px] lg:mb-[50px] mb-[30px]"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <a
              href="{% static 'main/assets/img/project/pro4.png' %}"
              class="imgc overflow-hidden lg:mb-[30px] mb-[20px] block w-full cursor-pointer"
            >
              <img
                src="{% static 'main/assets/img/project/pro4.png' %}"
                alt="img"
                class="w-full overflow-hidden duration-500 rounded-[10px] group-hover:scale-105"
              />
            </a>
            <div class="content flex items-center justify-between gap-1">
              <a href="./protfolio.html" class="left__cont">
                <span
                  class="text-clr_base xl:mb-4 mb-2 block uppercase xl:text-lg text-base"
                >
                  UI/UX DESIGN
                </span>
                <h3
                  class="xl:text-[30px] sm:text-2xl text-xl font-semibold text-white"
                >
                  Mobile Application Development
                </h3>
              </a>
              <a
                href="{% static 'main/assets/img/project/pro4.png' %}"
                class="imgc h-[45px] w-[45px] sm:w-[60px] sm:h-[60px] rounded-md bg-[#1D1D1D] flex justify-center items-center duration-500 group-hover:bg-clr_base cursor-pointer"
              >
                <i
                  class="bi-arrow-up-right duration-500 group-hover:text-clr_title text-lg sm:text-xl text-white"
                ></i>
              </a>
            </div>
          </div>
          <!-- card 5 -->

          <!-- card 6 -->
          <div class="project__item overflow-hidden group" data-aos="fade-up" data-aos-duration="1000">
            <a href="{% static 'main/assets/img/project/pro6.png' %}" class="imgc overflow-hidden lg:mb-[30px] mb-[20px] block w-full cursor-pointer">
              <img src="{% static 'main/assets/img/project/pro6.png' %}" alt="img" class="w-full overflow-hidden duration-500 rounded-[10px] group-hover:scale-105"/>
            </a>
            <div class="content flex items-center justify-between gap-1">
              <a href="./protfolio.html" class="left__cont">
                <span class="text-clr_base xl:mb-4 mb-2 block uppercase xl:text-lg text-base">UI/UX DESIGN</span>
                <h3 class="xl:text-[30px] sm:text-2xl text-xl font-semibold text-white">Mobile Application Development</h3>
              </a>
              <a href="{% static 'main/assets/img/project/pro4.png' %}" class="imgc h-[45px] w-[45px] sm:w-[60px] sm:h-[60px] rounded-md bg-[#1D1D1D] flex justify-center items-center duration-500 group-hover:bg-clr_base cursor-pointer">
                <i class="bi-arrow-up-right duration-500 group-hover:text-clr_title text-lg sm:text-xl text-white"></i>
              </a>
            </div>
          </div>
          <!-- card 6 -->
        </div>

        <!-- -------- Cricle box -->
        <div class="mt-[100px] flex justify-center">
          <a
            href=""
            class="md:w-52 md:h-52 w-32 h-32 bg-clr_base rounded-full flex justify-center items-center text-center relative before:w-full before:h-full before:rounded-full before:border before:border-clr_base before:content-[''] before:absolute before:top-[10px] before:-left-[7px] before:duration-500 hover:before:-top-[10px]"
            data-aos="zoom-out-down"
            data-aos-duration="2000"
          >
            <span class="relative z-10">
              <i
                class="bi-arrow-right mb-[1px] md:text-[28px] text-base text-center flex justify-center text-clr_title transition-all"
              >
              </i>
              <span
                class="text-[#282828] md:text-lg text-sm font-medium leading-[30px] transition-all"
              >
                Click More Work
              </span>
            </span>
          </a>
        </div>
        <!-- -------- Cricle box -->
      </div>
    </section>
    <!-- ----------- Projects End -->

    <!-- ----------- Metting start -->
    <section class="bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden pt_120 pb_120">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <div class="grid lg:grid-cols-[58%_auto] gap-20 items-center">
          <div>
            <!-- ---------- Heading -->
            <div class="pb-[50px]">
              <span class="text-2xl font-caveat text-clr_base relative flex items-center sm:gap-6 gap-[14px] mx-auto mb-[30px]" data-aos="fade-down" data-aos-duration="1000">
                <span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>
                Хотите связаться со мной?
              </span>
              <h2 class="font-medium lg:text-6xl md:text-5xl sm:text-4xl text-[29px] text-white max-w-[620px]" data-aos="fade-down" data-aos-duration="1600">
                Напишите мне на почту, либо позвоните по номеру телефона!
              </h2>
            </div>
            <!-- ---------- Heading -->
            <!-- ---------- Metting system -->
            <div>
              <div class="border-b border-b-[rgb(39,38,38)] hover:border-b-clr_base duration-500 transition-all"></div>
              <div class="hover:border-b hover:border-b-clr_base flex ga-5 items-center md:gap-5 gap-4 duration-500 transition-all border-b border-b-[rgb(38_37_37)] lg:pb-[30px] pb-5 lg:pt-[30px] pt-[20px]" data-aos="fade-up" data-aos-duration="1000">
                <span class="w-[60px] h-[60px] rounded-full bg-clr_base flex justify-center items-center">
                  <i class="bi-envelope text-[26px] text-clr_title"></i>
                </span>
                <span class="">
                  <span class="text-clr_pra md:text-lg text-base mb-1 block">Email
                  </span>
                  <a href="mailto:{{ contact_info.email_site }}" class="text-white md:text-xl text-base font-medium">{{ contact_info.email_site }}</a>
                </span>
              </div>
              <div class="hover:border-b hover:border-b-clr_base flex ga-5 items-center md:gap-5 gap-4 duration-500 border-b border-b-[rgb(38_37_37)] lg:pb-[30px] pb-5 lg:pt-[30px] pt-[20px]" data-aos="fade-up" data-aos-duration="1500">
                <span class="w-[60px] h-[60px] rounded-full bg-clr_base flex justify-center items-center">
                  <i class="bi-geo-alt text-[26px] text-clr_title"></i>
                </span>
                <span class="">
                  <span class="text-clr_pra md:text-lg text-base mb-1 block">Адрес проживания
                  </span>
                  <div class="text-white md:text-xl text-base font-medium">{{ contact_info.adress_local }}</div>
                </span>
              </div>
            </div>
            <!-- ---------- Metting system -->
          </div>
          <!-- --------- Right side / image -->
          <div>
            <div data-aos="zoom-in" data-aos-duration="2000">
              <img src="{% static 'main/assets/img/project/project-need.png' %}" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ----------- Metting End -->

    <!-- ----------- Services Start -->
    <section id="services" class="pt_120 pb_120">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <!-- --------- Heading -->
        <div class="text-center max-w-[920px] mx-auto md:mb-[60px] sm:mb-[50px] mb-[45px]">
          <p class="text-2xl font-caveat text-clr_base relative flex justify-center items-center sm:gap-6 gap-[14px] mx-auto mb-[30px]" data-aos="fade-down" data-aos-duration="1000">
            <span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>Services That i Provide
            <span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>
          </p>
          <h2 class="font-medium lg:text-6xl md:text-5xl sm:text-4xl text-[29px] text-white lg:leading-[120%] md:leading-tight leading-9" data-aos="fade-up" data-aos-duration="1200">My Special Service For Your Business Development</h2>
        </div>
        <!-- --------- Heading -->

        <div>
          {% for services in one_services %}
          <!-- card 1 -->
          <div class="lg:pb-10 pb-[30px] lg:pt-10 pt-[30px] flex justify-between items-center sm:gap-[14px] gap-5 sm:flex-nowrap flex-wrap border-b duration-500 border-b-[rgb(38_37_37)] first:border-t first:border-t-[rgb(38_37_37)] hover:border-b-clr_base hover:first:border-t-clr_base group" data-aos="fade-up" data-aos-duration="1000">
            <div class="w-[1062px] flex items-center justify-between md:flex-nowrap flex-wrap md:gap-[14px] gap-2">
              <div class="flex lg:gap-[60px] gap-[16px]">

                    <span class="text-xl text-white">{{ services.sortNumber }}</span>
                <div class="cont">
                  <h5 class="text-base lg:text-xl font-semibold text-white mb-2">{{ services.directionServices }}</h5>
                  <h2 class="text-[26px] xl:text-[40px] lg:text-3xl font-semibold lg:leading-[120%]">
                    <a href="{% url 'servicesOne' slug=services.slug %}" class="text-white duration-500">{{ services.titleServices }}</a>
                  </h2>
                </div>
              </div>
              <p class="text-clr_pra text-base lg:w-[400px] w-[300px]">
                {{ services.descriptionServices }}
              </p>
            </div>

            <a href="{{ url.servicesOne }}" class="imgc h-[45px] w-[45px] sm:w-[60px] sm:h-[60px] rounded-md bg-[#1D1D1D] flex justify-center items-center duration-500 group-hover:bg-clr_base cursor-pointer">
              <i class="bi-arrow-up-right duration-500 group-hover:text-clr_title text-lg sm:text-xl text-white"></i>
            </a>
          </div>
          {% endfor %}
          <!-- card 1 -->
        </div>
      </div>
    </section>
    <!-- ----------- Services End -->

    <!-- ----------- Work Process start -->
    <section class="bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden pt_120 pb_120">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <!-- --------- Heading -->
        <div class="text-center max-w-[920px] mx-auto md:mb-[60px] sm:mb-[50px] mb-[45px]">
          <p class="text-2xl font-caveat text-clr_base relative flex justify-center items-center sm:gap-6 gap-[14px] mx-auto mb-[30px]" data-aos="fade-down" data-aos-duration="1000">
            <span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>{{ work_steps.SubTitleWorkSteps }}<span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>
          </p>
          <h2 class="font-medium lg:text-6xl md:text-5xl sm:text-4xl text-[29px] text-white lg:leading-[120%] md:leading-tight leading-9" data-aos="fade-up" data-aos-duration="1200">{{ work_steps.TitleWorkSteps }}</h2>
        </div>
        <!-- --------- Heading -->
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-7">
        {% for itemsWorks in work_stepsOneSteps %}
          <div data-aos="flip-up" data-aos-duration="500">
            <div class="overflow-hidden duration-500 border border-clr_cusborder rounded-[10px] p-[30px] relative after:absolute after:w-[50px] after:h-[50px] after:bottom-0 after:right-0 after:content-[''] after:bg-[#121212] after:rounded-tl-[100px] after:rounded-tr-[20px] after:duration-500 hover:border-clr_base hover:after:bg-clr_base">
              <h2 class="text-white lg:mb-6 mb-4 sm:text-[40px] text-3xl leading-[120%] font-semibold">{{ itemsWorks.TitleOneStep }}</h2>
              <p class="lg:mb-[30px] mb-5 text-clr_pra text-lg">{{ itemsWorks.TextOneStep }}</p>
              {{ itemsWorks.ListOneStep|safe }}
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section>
    <!-- ----------- Work Process End -->

    <!-- ------------Testimonial Start -->
    {% if all_reviews %}
    {% for revs in all_reviews %}
    <section class="overflow-hidden pt_120 pb_120" id="testimonial">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <!-- --------- Heading -->
        <div class="text-center md:mb-[60px] sm:mb-[50px] mb-[45px] max-w-[920px] mx-auto">
          <span class="text-2xl font-caveat text-clr_base relative flex justify-center items-center sm:gap-6 gap-[14px] mx-auto mb-[30px]" data-aos="fade-up" data-aos-duration="1000">
            <span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>
            <span>Отзывы</span>
            <span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>
          </span>
          <h2 class="font-medium lg:text-6xl md:text-5xl sm:text-4xl text-[29px] text-white lg:leading-[120%] md:leading-tight leading-9" data-aos="fade-down" data-aos-duration="1000">Happy Words From Happy Customer</h2>
        </div>
        <!-- --------- Heading -->

        <div class=" bg-common_bg bg-center bg-no-repeat bg-cover rounded-[10px] overflow-hidden lg:py-[130px] lg:px-[60px] md:py-[100px] md:px-[30px] sm:py-4 px-0 py-[10px] relative" data-aos="fade-up" data-aos-duration="1000">
          <div>
            <div class="lg:max-w-[66%] w-auto mx-auto">
              <div class="swiper testimonial__slidewrap sm:mr-[10px] sm:ml-[30px] mr-0 ml-0">
                  <div class="swiper-wrapper">

                              <div class="swiper-slide relative">
                                  <div class="review-content">
                                      <i class="sm:text-xl text-base text-clr_white sm:mb-10 mb-5 block">
                                          {{ revs.text_rev|safe }}
                                      </i>
                                      <h4 class="text-clr_base mb-2 font-semibold text-2xl leading-[130%]">
                                          {{ revs.name }}
                                      </h4>
                                      <span class="text-lg text-clr_pra">{{ revs.vork_user }}</span>
                                  </div>
                              </div>

                  </div>
                  <!-- Пагинация для слайдера -->
                  <div class="swiper-pagination3"></div>
              </div>
            </div>
          </div>
          <div class="absolute top-[99px] xl:left-[291px] lg:left-60 lg:block hidden">
            <img src="{% static 'main/assets/img/testimonial/man1.png' %}" alt="img" />

          </div>
          <div class="absolute top-5 left-5 opacity-10 lg:opacity-100 w-[60px] sm:w-auto">
            <img src="{% static 'main/assets/img/testimonial/man1.png' %}" alt="img" class="w-full sm:w-auto"/>
          </div>
          <div class="absolute left-5 bottom-5 opacity-10 lg:opacity-100 w-[60px] sm:w-auto">
            <img src="{% static 'main/assets/img/testimonial/man3.png' %}" alt="img" class="w-full sm:w-auto"/>
          </div>
          <div class="absolute top-5 right-5 opacity-10 lg:opacity-100 w-[60px] sm:w-auto">
            <img src="{% static 'main/assets/img/testimonial/man2.png' %}" alt="img" class="w-full sm:w-auto"/>
          </div>
          <div class="absolute lg:bottom-[50px] lg:right-[50px] bottom-[15px] right-[15px] sm:block hidden animate-cir5">
            <img src="{% static 'main/assets/img/testimonial/testi-arrow.png' %}" alt="img" />
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    {% else %}
    {% endif %}
    <!-- ------------ Testimonial End -->

    <!-- ------------ Blogs Start -->
    {% if all_news %}

    <section class="bg-common_bg bg-no-repeat bg-cover bg-center overflow-hidden pt_120 pb_120" id="blog">
      <div class="xl:max-w-[1350px] lg:max-w-[960px] md:max-w-2xl sm:max-w-xl xl mx-auto px-3">
        <div class="grid xl:grid-cols-[33%_auto] lg:grid-cols-[28%_auto] grid-cols-1 gap-12">
          <!-- ------- Left Side -->
          <div>
            <!-- ---------- Heading -->
            <div class="pb-[50px]">
              <span class="text-2xl font-caveat text-clr_base relative flex items-center sm:gap-6 gap-[14px] mx-auto mb-[30px]" data-aos="fade-down" data-aos-duration="1000">
                <span class="sm:w-20 w-[50px] h-[1px] bg-clr_base"></span>Мой блог</span>
              <h2 class="font-medium lg:text-6xl md:text-5xl sm:text-4xl text-[29px] text-white max-w-[620px]" data-aos="fade-down" data-aos-duration="1600">
                Последние новости
              </h2>
            </div>
            <!-- ---------- Heading -->
            <div>
              <a href="{{ news.urls }}" class="md:w-52 md:h-52 w-32 h-32 bg-clr_base rounded-full flex justify-center items-center text-center relative before:w-full before:h-full before:rounded-full before:border before:border-clr_base before:content-[''] before:absolute before:top-[10px] before:-left-[7px] before:duration-500 hover:before:-top-[10px]" data-aos="zoom-out-down" data-aos-duration="2000">
                <span class="relative z-10">
                  <i class="bi-arrow-right mb-[1px] md:text-[28px] text-base text-center flex justify-center text-clr_title transition-all"></i>
                  <span class="text-[#282828] md:text-lg text-sm font-medium leading-[30px] transition-all">Перейти в блог</span>
                </span>
              </a>
            </div>
          </div>
          <!-- -------- Left Side -->
          <!-- ---------- Right Side -->
          <div>
            <!-- card 1 -->
            {% for news_post in all_news|slice:":3" %}
            <div>
              <div class="flex sm:flex-row flex-col justify-between items-center gap-4 lg:pb-10 pb-[30px] lg:pt-10 pt-[30px] group duration-500 border-b border-b-[rgb(38_37_37)] hover:border-b-clr_base hover:first:border-t-clr_base first:border-t first:border-t-[rgb(38_37_37)]" data-aos="fade-up" data-aos-duration="1000">
                <div class="shrink basis-4/5 flex md:flex-row flex-col justify-between md:items-center sm:items-start items-center gap-4">
                  <div class="shrink basis-1/2">
                    <div class="cont">
                      <span class="dates text-clr_pra text-base border border-clr_cusborder rounded-[100px] py-[7px] px-[15px] sm:mb-6 mb-[18px] inline-block">
                        {{ news_post.date }}
                      </span>
                      <h3 class="xl:text-3xl sm:text-[22px] text-xl text-white sm:leading-[44px] leading-8 font-semibold">
                        <a href="{% url 'news-details' news_post.pk %}" class="text-white duration-500 group-hover:text-clr_base">{{ news_post.title }}</a>
                      </h3>
                    </div>
                  </div>
                  <a href="{% url 'news-details' news_post.pk %}" class="imgc duration-500 md:opacity-0 opacity-100 group-hover:opacity-100">
                    <img src="{{ news_post.text_img.url }}" alt="img-opa " class="max-w-[290px] h-[157px] cursor-pointer"/>
                  </a>
                </div>
                <a href="{% url 'news-details' news_post.pk %}" class="w-[60px] h-[60px] flex justify-center items-center bg-none rounded-full border border-white duration-500 group-hover:border-clr_base">
                  <i class="bi bi-eye text-white duration-500 group-hover:text-clr_base"></i>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- ---------- Right Side -->
        </div>
      </div>
    </section>
    <!-- ------------ Blogs End -->

    {% else %}
    {% endif %}
    <!-- -------- Footer -->


{% include "main/footer.html" %}


